In [1]:
import csv
import pandas as pd

In [2]:
# Specifiy CSV file path
file_path = r'C:\Users\kolgi\OneDrive - Western Governors University\d210\NCHS Death.csv'

# Open the CSV file and read it using DictReader
with open(file_path, 'r') as csvfile:
    csvreader = csv.DictReader(csvfile)

# Read the CSV file into a pandas DataFrame then open head
df = pd.read_csv(file_path)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10868 entries, 0 to 10867
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     10868 non-null  int64
 1   113 Cause Name           10868 non-null  object
 2   Cause Name               10868 non-null  object
 3   State                    10868 non-null  object
 4   Deaths                   10868 non-null  int64
 5   Age-adjusted Death Rate  10868 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 509.6+ KB

In [4]:
df.head()

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,United States,169936,49.4
1,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,2703,53.8
2,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,436,63.7
3,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,4184,56.2
4,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,1625,51.8

In [5]:
# Find missing values
# Check for missing values in each column
missing_values = df.isnull().sum()

# Display columns with missing values
print("Columns with missing values:")
print(missing_values[missing_values > 0])

Columns with missing values:
Series([], dtype: int64)

In [6]:
unique_cause_names = df['113 Cause Name'].unique()
print(unique_cause_names)

['Accidents (unintentional injuries) (V01-X59,Y85-Y86)' 'All Causes'
 "Alzheimer's disease (G30)" 'Cerebrovascular diseases (I60-I69)'
 'Chronic lower respiratory diseases (J40-J47)'
 'Diabetes mellitus (E10-E14)'
 'Diseases of heart (I00-I09,I11,I13,I20-I51)'
 'Influenza and pneumonia (J09-J18)'
 'Intentional self-harm (suicide) (*U03,X60-X84,Y87.0)'
 'Malignant neoplasms (C00-C97)'
 'Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)']

In [7]:
import re

# Function to remove parentheses and numbers inside them
def remove_parentheses(text):
    # Use regular expression to remove parentheses and numbers inside them
    return re.sub(r'\([^()]*\)', '', text).strip()

# Apply the function to remove parentheses and numbers inside them from each value in the column
df['113 Cause Name'] = df['113 Cause Name'].apply(remove_parentheses)

# Print unique values in the modified "113 Cause Name" column
unique_113_cause_names = df['113 Cause Name'].unique()
print(unique_113_cause_names)

['Accidents' 'All Causes' "Alzheimer's disease" 'Cerebrovascular diseases'
 'Chronic lower respiratory diseases' 'Diabetes mellitus'
 'Diseases of heart' 'Influenza and pneumonia' 'Intentional self-harm'
 'Malignant neoplasms' 'Nephritis, nephrotic syndrome and nephrosis']

In [8]:
# Define a dictionary mapping full state names to state initials
state_initials = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY', 
    'District of Columbia': 'DC'
}

# Add a new column 'State_Initials' to filtered_deaths DataFrame based on state initials
df['State_Initials'] = df['State'].map(state_initials)

# Display the DataFrame with the new column
print(df)

       Year                               113 Cause Name  \
0      2017                                    Accidents
1      2017                                    Accidents
2      2017                                    Accidents
3      2017                                    Accidents
4      2017                                    Accidents
...     ...                                          ...
10863  1999  Nephritis, nephrotic syndrome and nephrosis
10864  1999  Nephritis, nephrotic syndrome and nephrosis
10865  1999  Nephritis, nephrotic syndrome and nephrosis
10866  1999  Nephritis, nephrotic syndrome and nephrosis
10867  1999  Nephritis, nephrotic syndrome and nephrosis

                   Cause Name          State  Deaths  Age-adjusted Death Rate  \
0      Unintentional injuries  United States  169936                     49.4
1      Unintentional injuries        Alabama    2703                     53.8
2      Unintentional injuries         Alaska     436                     63.7
3      Unintentional injuries        Arizona    4184                     56.2
4      Unintentional injuries       Arkansas    1625                     51.8
...                       ...            ...     ...                      ...
10863          Kidney disease       Virginia    1035                     16.9
10864          Kidney disease     Washington     278                      5.2
10865          Kidney disease  West Virginia     345                     16.4
10866          Kidney disease      Wisconsin     677                     11.9
10867          Kidney disease        Wyoming      30                      6.8

      State_Initials
0                NaN
1                 AL
2                 AK
3                 AZ
4                 AR
...              ...
10863             VA
10864             WA
10865             WV
10866             WI
10867             WY

[10868 rows x 7 columns]

In [9]:
unique_cause_names = df['State'].unique()
print(unique_cause_names)

['United States' 'Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California'
 'Colorado' 'Connecticut' 'Delaware' 'District of Columbia' 'Florida'
 'Georgia' 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas'
 'Kentucky' 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan'
 'Minnesota' 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada'
 'New Hampshire' 'New Jersey' 'New Mexico' 'New York' 'North Carolina'
 'North Dakota' 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Rhode Island'
 'South Carolina' 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Vermont'
 'Virginia' 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming']

In [10]:
# Remove rows where the 'State' column contains 'United States'
df = df[df['State'] != 'United States']

# Display the DataFrame after removing rows
print(df)

       Year                               113 Cause Name  \
1      2017                                    Accidents
2      2017                                    Accidents
3      2017                                    Accidents
4      2017                                    Accidents
5      2017                                    Accidents
...     ...                                          ...
10863  1999  Nephritis, nephrotic syndrome and nephrosis
10864  1999  Nephritis, nephrotic syndrome and nephrosis
10865  1999  Nephritis, nephrotic syndrome and nephrosis
10866  1999  Nephritis, nephrotic syndrome and nephrosis
10867  1999  Nephritis, nephrotic syndrome and nephrosis

                   Cause Name          State  Deaths  Age-adjusted Death Rate  \
1      Unintentional injuries        Alabama    2703                     53.8
2      Unintentional injuries         Alaska     436                     63.7
3      Unintentional injuries        Arizona    4184                     56.2
4      Unintentional injuries       Arkansas    1625                     51.8
5      Unintentional injuries     California   13840                     33.2
...                       ...            ...     ...                      ...
10863          Kidney disease       Virginia    1035                     16.9
10864          Kidney disease     Washington     278                      5.2
10865          Kidney disease  West Virginia     345                     16.4
10866          Kidney disease      Wisconsin     677                     11.9
10867          Kidney disease        Wyoming      30                      6.8

      State_Initials
1                 AL
2                 AK
3                 AZ
4                 AR
5                 CA
...              ...
10863             VA
10864             WA
10865             WV
10866             WI
10867             WY

[10659 rows x 7 columns]

In [11]:
unique_cause_names = df['State'].unique()
print(unique_cause_names)

['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'District of Columbia' 'Florida' 'Georgia'
 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky'
 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota'
 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire'
 'New Jersey' 'New Mexico' 'New York' 'North Carolina' 'North Dakota'
 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Rhode Island' 'South Carolina'
 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Vermont' 'Virginia'
 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming']

In [12]:
# Save the filtered DataFrame to a CSV file
df.to_csv('deaths_clean.csv', index=False)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10659 entries, 1 to 10867
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     10659 non-null  int64
 1   113 Cause Name           10659 non-null  object
 2   Cause Name               10659 non-null  object
 3   State                    10659 non-null  object
 4   Deaths                   10659 non-null  int64
 5   Age-adjusted Death Rate  10659 non-null  float64
 6   State_Initials           10659 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 666.2+ KB